.idea/
*.o
*.exe
*.out
*.dll
*.so
*.dylib
.DS_Store
*.swp
*.swo
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.sln
*.vcxproj*
*.filters
*.vcxproj.user
*.db
*.tlog/
*.log
*.idb
*.pdb
*.ilk
*.dbmdl
*.pfx
*.publishsettings
